    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Sobre mí</h2>
                <p>Usuario de GNU/Linux en concreto openSUSE con escritorio Plasma de KDE desde el 2011.</p>
                <p>Trato de aprender y divulgar lo que sé en cuestiones de GNU/Linux y software libre. Para ello escribo y traduzco artículos en <a https://victorhckinthefreeworld.com>mi blog</a></p>
            </div>
        </div>
    </section>
